.chatContainer {
  height: 100vh;
  width: 100%;
}

.lightBackground {
  background-image: url('../../../public/telegramLight.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.darkBackground {
  background-image: url('../../../public/backgroundIcons.jpg');
  background-size: contain;
  background-repeat: repeat;
}

.headerWrapper {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

.chatWrapper {
  height: 83vh;
  overflow-y: auto;
}

.chatWrapper::-webkit-scrollbar {
  display: none;
}

.writeTextContainer {
  width: 70%;
  margin: auto;
}

/* .chatContainer::after {
  z-index: 0;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
} */
