body {
  background-color: #000;
  color: #fff;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app {
  display: grid;
  grid-template-columns: 0.27fr 0.73fr;
  gap: 1px;
}

.gridLeft {
  height: 100vh;
  overflow-y: auto;
}

.gridLeft::-webkit-scrollbar {
  display: none;
}
