.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--search-bar-background);
  padding: 0.2rem 1rem;
  height: 3.5rem;
  position: sticky;
  width: 100%;
  z-index: 1;
  top: 0;
}

.headerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}

.headerTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchHeader,
.options {
  color: var(--dark-text-color);
}

.userName {
  font-weight: 600;
}

.toggle-button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
}

.toggle-button:hover {
  background-color: var(--highlight);
}

.toggle-button svg {
  color: var(--text-color);
}

/* ========================================== */
/* .wave {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: linear-gradient(
    to bottom right,
    #111 0%,
    #111 16.67%,
    #222 33.33%,
    #000 50%,
    #000 100%
  );
  opacity: 0.9;
  z-index: 9999;
  pointer-events: none;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

@keyframes waveAnimation {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    height: 300%;
    width: 300%;
  }
}

.wave-animate {
  animation: waveAnimation 0.5s ease-in-out;
  animation-fill-mode: forwards;
} */
